{% extends 'base.html.twig' %}


{% block content %}
    <div class="pt-3">
        <h1>Player</h1>
        <p>{{ player.username }}</p>
        <p>{{ player.twitchname }}</p>
        <p>{{ player.username }}</p>
    </div>
{% endblock %}