{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card-body">
            <h1 class="card-title sport-text">{{ team.name }}</h1>
            <ul class="list-group">
                {% for player in team.players %}
                <li class="list-group-item sport-text">{{ player.username }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if canEditName %}
    <div class="col-sm-6 p-3">
        <form method="post">
            <div class="card form-group border border-secondary p-3">
                <label for="inputName" class="sport-text-form">Eres capitán, cambia el nombre a tu equipo.</label>
                <input type="text" value="{{ team.name }}" name="name" id="inputName"
                    class="form-control form-control-lg">

                <button class="btn btn-lg btn-dark break-text-large mt-3" type="submit">
                    Cambiar!
                </button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}