{% extends 'base.html.twig' %}

{% block content %}
<div style="min-height: 867px;">
    <div class="w-50">
        <div class="card-body">
            <h1 class="card-title sport-text">{{ team.name }}</h1>
            <ul class="list-group">
                {% for player in team.players %}
                <li class="list-group-item sport-text">{{ player.username }}
                    <!--<a href="#"><i class="fas fa-skull"></i></a>-->
                </li>
                {% endfor %}
            </ul>
            {% if team.captain.username == app.user.username %}
            <a class="btn btn-dark mt-3 sport-text" href="{{ path('team_edit', {id: team.id}) }}">Renombrar Equipo</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}