<link rel="stylesheet" href="{{ asset('css/brackets.css') }}" />
<link rel="stylesheet" href="{{ asset('css/bracket_2.css') }}" />
<div class="single bracket">
	<div class="bracket-container scrollable-x">
		<table class="bracket refresh" align="center">
			<thead>
				<tr>
					<th>Final</th>
				</tr>
				<tr class="spacer"></tr>
			</thead>
			<tbody>
				<tr>
                    {% include 'brackets/bracket_team.html.twig' with {round: competition.rounds[0], team_index: 0, position: [1,1,1] } %}
				</tr>
				<tr>
                    {% include 'brackets/bracket_team.html.twig' with {round: competition.rounds[0], team_index: 1, position: [1,1,1] } %}
				</tr>
			</tbody>
		</table>
	</div>
	<a href="#" class="bracket-zoom"><i class="fa fa-arrows-alt"></i></a>
</div>
{% if clickable %}<script src="{{ asset('js/bracket.js') }}"></script>{% endif %}