{% extends 'base.html.twig' %}

{% block title %}Recuperación de contraseña{% endblock %}

{% block content %}
    <h1>Nueva contraseña</h1>
    <p>Para crear una nueva contraseña, visita <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">este enlace</a>.<p>
    <p>Este enlace expirará dentro de {{ tokenLifetime|date('g') }} horas.</p>
{% endblock %}