{% extends 'base.html.twig' %}

{% block title %}Nueva contrase単a{% endblock %}

{% block content %}
    <h1>Nueva contrase単a</h1>
    {{ form_start(requestForm) }}
    {{ form_label(requestForm.email, 'Introduzca su nueva contrase単a.') }}
    {{ form_widget(requestForm.email, {'attr': {'class': 'mb-2 form-control'}}) }}
    <button class="mt-2 btn btn-primary btn-dark sport-text form-control">Cambiar contrase単a</button>
    {{ form_end(requestForm) }}
{% endblock %}