{% extends 'base.html.twig' %}

{% block title %}Recupera tu cuenta{% endblock %}

{% block content %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Recupera tu cuenta</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>Introduce tu dirección de correo asociada y te enviaremos un e-mail para crear una nueva contraseña.</small>
        </div>

        <button class="btn btn-primary">Enviar correo de recuperación</button>
    {{ form_end(requestForm) }}
{% endblock %}