{% extends 'base.html.twig' %}

{% block title %}Nueva contraseña{% endblock %}

{% block content %}
    <h1>Nueva contraseña</h1>

    {{ form_start(resetForm) }}
        <div class="password-form">
            {{ form_row(resetForm.plainPassword) }}
        </div>
        <button class="btn btn-dark sport-text">Cambiar contraseña</button>
    {{ form_end(resetForm) }}
{% endblock %}
