{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html' %}
    {% if games %}
    <form method="post">
        <label for="inputName">Name</label>
        <input type="text" name="name" id="inputName" class="form-control" required autofocus>
        <label for="inputDescription">Description</label>
        <input type="text" name="description" id="inputDescription" class="form-control" required autofocus>
        <label for="inputPlayers">Max Player Count</label>
        <input type="int" name="players" id="inputPlayers" class="form-control" required autofocus>
        <input type="checkbox" name="individual" id="inputIndividual" checked>
        <label for="inputIndividual">Individual Comp</label><br>

        <label for="game">Game:</label>
        <select name="game">
            {% for game in games %}
            <option value="{{ game.name }}">{{ game.name }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-lg btn-primary" type="submit">
            Create Competition
        </button>
    </form>
    {% else %}
        Can't make competitions if there are no games.
    {% endif %}
{% endblock %}