{% extends 'base.html.twig' %}

{% block content %}
<div class="row m-3">
    <form method="post">
        <label for="inputName">Name</label>
        <input type="text" name="name" id="inputName" class="form-control" required autofocus>

        <button class="btn btn-lg btn-primary" type="submit">
            Create Team
        </button>
    </form>
</div>    
{% endblock %}