{% extends 'base.html.twig' %}

{% block content %}
    <div class="row m-3">
        {% if competition %}
            <form method="post">
                <label for="inputName">Edit Name</label>
                <input type="text" value="{{ competition.name }}" name="name" id="inputName" class="form-control" autofocus>
                <label for="inputDescription">Description</label>
                <input type="text" value="{{ competition.description }}" name="description" id="inputDescription" class="form-control">
                <button class="btn btn-lg btn-primary" type="submit">
                    Edit Competition
                </button>
            </form>
        {% else %}
            No competition selected.
        {% endif %}
    </div>
{% endblock %}