{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html' %}
    {% if competitions %}
        <form method="post">
            <label for="competition">Competitions:</label>
            <select name="competition">
                {% for competition in competitions %}
                    <option value="{{ competition.name }}">{{ competition.name }}</option>
                {% endfor %}
            </select>

            <label for="team">Teams:</label>
            <select name="team">
                {% for team in player.teams %}
                    <option value="{{ team.name }}">{{ team.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-lg btn-primary" type="submit">
                Join Competition
            </button>
        </form>
    {% else %}
        Can't join competitions if there are no competitions.
    {% endif %}
{% endblock %}