{% extends 'base.html.twig' %}

{% block content %}
    <div class="row m-3">
        {% if game %}
            <div>
                Game:
                {{ game.name }}
                Description:
                {{ game.description }}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('game_edit', {id: game.id}) }}">Edit Game</a>
                <form action="/game/delete" method="POST">
                <input type="hidden" name="id" value="{{ game.id }}">
                <input type="submit" value="Delete Game">
            </form>
            {% endif %}
        {% else %}
            No game selected.
        {% endif %}
    </div>
{% endblock %}