{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html' %}
    {% if competition %}
        <div>
        Competition:
        {{ competition.name }}
        </div>
        <div>
        Teams:
        {% for team in competition.teams %}
            {{ team.name }}
        {% endfor %}
        </div>
    {% else %}
        No competition selected.
    {% endif %}
{% endblock %}