@font-face {
    font-family: deporte;
    src: url(../fonts/octin.ttf);
}
@font-face {
    font-family: broken;
    src: url(../fonts/BrokenGlass.ttf);
}
.main-container {
    max-width: 1280px;
}
.titulo {
    color:#f7921e;
    font-size: 1.8vw;
    font-family: deporte;
    letter-spacing: 2.5px;
}

.cards {
    font-size: 1.1em;
    font-family: deporte;
    letter-spacing: 2px;
}
.menu {
    font-size: 1em;
    font-family: deporte;
    letter-spacing: 2px;
}

a {
    color:#f7921e !important;
}

a:hover {
    color:#4cd365 !important;
}

input.sport-text:hover {
    color:#4cd365 !important;
}

input.sport-text {
    color:#f7921e !important;
}

.rrss {
    opacity: .65;
}

h1 {
    color:#f7921e;
    font-family: deporte;
    letter-spacing: 2.5px;
}

.broken{
    font-size: 1.5em;
    font-family: broken;
    letter-spacing: 2px;
}

.sport-text {
    font-family: deporte;
    letter-spacing: 2.5px;
}

.sport-text-form {
    font-family: deporte;
    font-size: 18px;
    letter-spacing: 2.5px;
}

.break-text-large {
    padding: 0.1em;
    font-size: 32px;
    font-family: broken;
    letter-spacing: 2.5px;
}

.break-text-large:hover {
    color:#4cd365 !important;
}

.controlls:hover {
    color:#4cd365;
}