@font-face {
    font-family: deporte;
    src: url(../fonts/octin.ttf);
}
@font-face {
    font-family: broken;
    src: url(../fonts/BrokenGlass.ttf);
}
.main-container {
    max-width: 1280px;
}
.titulo {
    color:#f7921e;
    font-size: 1.8vw;
    font-family: deporte;
    letter-spacing: 2.5px;
}

.cards {
    font-size: 1.1em;
    font-family: deporte;
    letter-spacing: 2px;
}
.menu {
    font-size: 1em;
    font-family: deporte;
    letter-spacing: 2px;
}

a {
    color:#f7921e !important;
    
}

a:hover {
    color:#4cd365 !important;
    text-decoration: none;
}

input.sport-text:hover {
    color:#4cd365 !important;
}

input.sport-text {
    color:#f7921e !important;
}

.rrss {
    opacity: .65;
}

h1 {
    color:#f7921e;
    font-family: deporte;
    letter-spacing: 2.5px;
}

.broken{
    font-size: 1.5em;
    font-family: broken;
    letter-spacing: 2px;
}

.sport-text {
    font-family: deporte;
    letter-spacing: 2.5px;
}

.sport-text-form {
    font-family: deporte;
    font-size: 18px;
    letter-spacing: 2.5px;
}

.break-text-large {
    padding: 0.1em;
    font-size: 32px;
    font-family: broken;
    letter-spacing: 2.5px;
}

.break-text-large:hover {
    color:#4cd365 !important;
}

.controls{
    color:#212529;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0 2px;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.controls:hover {
    color:#4cd365;
}

.registrations > li.confirmed .far.fa-square,
.registrations > li:not(.confirmed) .far.fa-check-square {
    display: none;
}

.check{
    padding: 0 4px;
}

.message-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 200;
}

.message-container .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    background: #ffd9d9;
    border: 1px solid #ff2c2c;
    border-radius: 0.2rem;
    overflow: hidden;
}

.message-container .message a {
    position: absolute;
    top: -.2rem;
    right: -.1rem;
}

.message-container .message a.close {
    opacity: 1!important;
}

.message-container .message a .fas {
    color: #ff2c2c;
}

.pagination .active .page-link {
    background: #343a40;
}