{% extends 'base.html.twig' %}

{% block title %}Editar juego | Round Breaker{% endblock %}

{% block content %}
<form method="post">
    <div class="col-md-8 col-xl-6 border-0 p-3 my-0 mx-auto">
        <h1 class="text-center">Editar Juego</h1>
        <div class="card border border-secondary p-3">
            <div class="form-group">
                <label for="inputName" class="sport-text-form">Nombre<span class="text-danger">*</span></label>
                <input type="text" value="{{ game.name }}" name="name" id="inputName"
                    class="form-control form-control-lg" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputDescription" class="mt-3 sport-text-form">Description</label>
                <input type="text" value="{{ game.description }}" name="description" id="inputDescription"
                    class="form-control form-control-lg">
            </div>
            <button id="submit-edit" class="btn btn-lg btn-dark break-text-large mt-3" type="submit">
                Editar!
            </button>
        </div>
    </div>
</form>
{% endblock %}