{% extends 'base.html.twig' %}

{% block content %}
<form method="post" style="min-height: 867px;">
    <div class="col-md-12 col-lg-8 col-xl-5 border-0 p-3" style="margin: auto;">
        <h1 class="text-center">Editar Competición</h1>
        <div class="card form-group border border-secondary p-3">
        <label for="inputName" class="sport-text-form">Nombre</label>
        <input type="text" value="{{ competition.name }}" name="name" id="inputName" class="form-control mb-3 form-control-lg" autofocus>
        <label for="inputDescription" class="sport-text-form">Descripción</label>
        <input type="text" value="{{ competition.description }}" name="description" id="inputDescription"
            class="form-control form-control-lg">
        <button class="btn btn-lg btn-dark break-text-large mt-3" type="submit">
            Editar!
        </button>
    </div>
    </div>
</form>
<div id="chat">
    <form id="twitch_params">
        <input type="text" placeholder="Username" name="username" /><br>
        <input type="text" placeholder="Password" name="password" /><br>
        <input type="text" placeholder="Channel" name="channel" /><br>
        <button type="submit">LISTEN</button>
    </form>
    <ul id="messages"></ul>
    <script src="{{ asset('js/tmi.js') }}"></script>
    <script src="{{ asset('js/twitch.js') }}"></script>
</div>
{% endblock %}