{% extends 'base.html.twig' %}

{% block title %}Lista de torneos | Round Breaker{% endblock %}

{% block content %}
<div class="py-3">

    <h1>Torneos</h1>

    <select id="filter-by-game" class="form-control col-12 mb-3 sport-text-form form-control-lg">
        <option value="">Filtrar por juegos</option>
        {% for gameOption in games %}
            <option name="gameFilterOption" value="{{ gameOption.id }}"{% if game and game.id == gameOption.id %} selected{% endif %}>{{ gameOption.name }}</option>
        {% endfor %}
    </select>

    {% include('competition/list.html.twig') %}

</div>
{% endblock %}
