{% extends 'base.html.twig' %}

{% block content %}
{% if games %}
<form method="post" style="min-height: 867px;">
    <div class="col-md-12 col-lg-8 col-xl-5 border-0 p-3" style="margin: 0 auto;">
        <h1 class="text-center">Crear Competición</h1>
        <div class="card form-group border border-secondary p-3">
            <label for="inputName" class="sport-text-form">Nombre</label>
            <input type="text" name="name" id="inputName" class="form-control col-12 mb-3 form-control-lg" required
                autofocus>
            <label for="inputDescription" class="sport-text-form">Descripción</label>
            <input type="text" name="description" id="inputDescription" class="form-control col-12 mb-3 form-control-lg"
                required>
            <!-- <label for="inputMaxPlayers">Max Player Count</label>
        <input type="int" name="maxPlayers" id="inputMaxPlayers" class="form-control" required> -->
            <label for="inputTeamNum" class="sport-text-form">Número de Equipos</label>
            <select id="inputTeamNum" name="teamNum" class="form-control col-12 mb-3 sport-text-form form-control-lg">
                <option selected value="">Escoge...</option>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="16">16</option>
            </select>
            <label for="inputPlayersPerTeam" class="sport-text-form">Jugadores por Equipo</label>
            <input type="number" name="playersPerTeam" id="inputPlayersPerTeam"
                class="form-control col-12 mb-3 form-control-lg sport-text-form" max="5" min="1" required>

            <input type="checkbox" name="individual" id="inputIndividual"
                onclick="document.getElementById('inputPlayersPerTeam').disabled=this.checked;">
            <label for="inputIndividual" class="sport-text-form">Individual</label><br>

            <label for="game" class="sport-text-form">Juego</label>
            <select name="game" class="form-control col-12 mb-3 sport-text-form form-control-lg">
                {% for game in games %}
                <option value="{{ game.name }}">{{ game.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-lg btn-dark break-text-large" type="submit">
                Crear!
            </button>
        </div>
    </div>
</form>
{% else %}
Can't make competitions if there are no games.
{% endif %}
{% endblock %}