{% extends 'base.html.twig' %}

{% block title %}Crear torneo | Round Breaker{% endblock %}

{% block content %}
{% if games %}
<form method="post">
    <div class="col-md-12 col-xl-8 border-0 p-3 my-0 mx-auto">
        <h1 class="text-center">Crear Competición</h1>
        <div class="card border border-secondary p-3">

            <div class="form-row">
                <div class="form-group col-md-6 mb-2">
                    <label for="inputName" class="sport-text-form">Nombre<span class="text-danger">*</span></label>
                    <input type="text" name="name" id="inputName" class="form-control" required>
                </div>

                <div class="form-group col-md-6 mb-2">
                    <label for="inputDescription" class="sport-text-form">Descripción</label>
                    <input type="text" name="description" id="inputDescription" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-2">
                    <label for="inputLobbyName" class="sport-text-form">Nombre de sala</label>
                    <input type="text" name="lobbyname" id="inputLobbyName" class="form-control">
                </div>

                <div class="form-group col-md-6 mb-2">
                    <label for="inputLobbyPassword" class="sport-text-form">Contraseña de sala</label>
                    <input type="text" name="lobbypassword" id="inputLobbyPassword" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="inputTeamNum" class="sport-text-form">Número de Equipos<span
                        class="text-danger">*</span></label>
                <select id="inputTeamNum" name="teamNum" class="form-control col-12 sport-text-form" required>
                    <option value="">Escoge...</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="16">16</option>
                </select>
            </div>

            <div class="form-group">
                <label for="inputPlayersPerTeam" class="sport-text-form">Jugadores por Equipo<span
                        class="text-danger">*</span></label>
                <select id="inputPlayersPerTeam" name="playersPerTeam" class="form-control col-12 sport-text-form"
                    required>
                    <option value="">Escoge...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="form-group">
                <label for="inputGame" class="sport-text-form">Juego<span class="text-danger">*</span></label>
                <select name="game" id="inputGame" class="form-control col-12 sport-text-form" required>
                    <option value="">Escoge...</option>
                    {% for game in games %}
                    <option value="{{ game.id }}">{{ game.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="date" class="sport-text-form mb-3">Fecha<span
                            class="text-danger">*</span></label>
                <input class="form-control" type="date" id="date" name="heldAtDate" required>
            </div>
            <div class="form-group">
                <label for="time" class="sport-text-form mb-3">Hora<span
                            class="text-danger">*</span></label>
                <input class="form-control" type="time" id="time" name="heldAtTime" required>
            </div>

            <button class="btn btn-lg btn-dark break-text-large mt-3" type="submit" id="submit-new">
                Crear!
            </button>
        </div>
    </div>
</form>
{% else %}
Can't make competitions if there are no games.
{% endif %}
{% endblock %}