{% extends 'base.html.twig' %}

{% block body %}
    <div id="main">
        <form id="twitch_params">
            <input type="text" placeholder="Username" name="username" /><br>
            <input type="text" placeholder="Password" name="password" /><br>
            <input type="text" placeholder="Channel" name="channel" /><br>
            <button type="submit">LISTEN</button>
        </form>
        <ul id="messages"></ul>
        <script src="{{ asset('js/tmi.js') }}"></script>
        <script src="{{ asset('js/twitch.js') }}"></script>
    </div>
{% endblock %}