<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Round Breaker{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    {% endblock %}
</head>

<body class="bg-secondary">
    {% include 'navbar.html.twig' %}
    <div class="container-fluid main-container my-xl-4 py-3 bg-white">
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.html.twig' %}
    {% for message in app.session.flashBag.get('error') %}
        <div class="message-container">
            <div class="message error">
                <p class="m-0">{{ message }}</p>
                <a href="#" class="close"><i class="fa fa-window-close"></i></a>
            </div>
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('success') %}
        <div class="message-container">
            <div class="message success">
                <p class="m-0">{{ message }}</p>
                <a href="#" class="close"><i class="fa fa-window-close"></i></a>
            </div>
        </div>
    {% endfor %}
    <script src="{{ asset('js/main.js') }}"></script>
</body>

</html>