<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Round Breaker{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <script src="https://kit.fontawesome.com/fb4c16e9c5.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body class="bg-secondary">
    {% include 'navbar.html.twig' %}
    <div class="container-fluid main-container my-xl-4 py-3 bg-white">
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.html.twig' %}
    {% for message in app.session.flashBag.get('error') %}
        <div class="message-container">
            <div class="message error">
                <p class="m-0">{{ message }}</p>
                <a href="#" class="close"><i class="fas fa-window-close"></i></a>
            </div>
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('success') %}
        <div class="message-container">
            <div class="message success">
                <p class="m-0">{{ message }}</p>
                <a href="#" class="close"><i class="fas fa-window-close"></i></a>
            </div>
        </div>
    {% endfor %}
    <script src="{{ asset('js/main.js') }}"></script>
</body>

</html>