<link rel="stylesheet" href="{{ asset('css/brackets.css') }}" />
<div class="single bracket m-3">
	<div class="bracket-container scrollable-x">
		<table class="bracket refresh" align="center">
			<thead>
				<tr class="d-none">
					<th colspan="2">Cuartos</th>
					<th colspan="2">Semifinales</th>
					<th colspan="2">Final</th>
				</tr>
			</thead>
			<tbody>
				<!--<tr class="spacer"></tr>-->
				<tr>
					<td class="match l1 o1 t1"><span class="win-1 titulo" title="RoadToWorlds">RoadToWorlds</span></td>
					<td class="line bb"></td>
					<td class="line"></td>
					<td class="empty"></td>
					<td class="line"></td>
				</tr>
				<tr>
					<td class="match l1 o1 t2"><span class="win-1" title="Los monocopteros">Los monocopteros</span></td>
					<td class="line br"></td>
					<td class="line"></td>
					<td class="empty"></td>
					<td class="line"></td>
				</tr>
				<tr>
					<td class="line"></td>
					<td class="line br"></td>
					<td class="match l2 o1 t1"><span class="win-1" title="RoadToWorlds">RoadToWorlds</span></td>
					<td class="line bb"></td>
				</tr>
				<tr>
					<td class="empty"></td>
					<td class="line br"></td>
					<td class="match l2 o1 t2"><span class="win-1" title="Los antipozo">Los antipozo</span></td>
					<td class="line br"></td>
				</tr>
				<tr>
					<td class="match l1 o2 t1"><span class="win-1" title="Los antipozo">Los antipozo</span></td>
					<td class="line br bb"></td>
					<td class="line"></td>
					<td class="line br"></td>
				</tr>
				<tr>
					<td class="match l1 o2 t2"><span class="win-1" title="Prochangas">Prochangas</span></td>
					<td class="line"></td>
					<td class="line"></td>
					<td class="line br"></td>
				</tr>
				<tr>
					<td class="empty"></td>
					<td class="line"></td>
					<td class="line"></td>
					<td class="line br"></td>
					<td class="match l3 o1 t1"><span class="win-1" title="RoadToWorlds">RoadToWorlds</span></td>
				</tr>
				<tr>
					<td class="line"></td>
					<td class="line"></td>
					<td class="empty"></td>
					<td class="line br"></td>
					<td class="match l3 o1 t2"><span class="win-1" title="ArbustosDePueblo">ArbustosDePueblo</span></td>
				</tr>
				<tr>
					<td class="match l1 o3 t1"><span class="win-1" title="MakFlurryss">MakFlurryss</span></td>
					<td class="line bb"></td>
					<td class="line"></td>
					<td class="line br"></td>
					<td class="empty"></td>
				</tr>
				<tr>
					<td class="match l1 o3 t2"><span class="win-1" title="GIGOLOSreturn">GIGOLOSreturn</span></td>
					<td class="line br"></td>
					<td class="line"></td>
					<td class="line br"></td>
					<td class="empty"></td>
				</tr>
				<tr>
					<td class="empty"></td>
					<td class="line br"></td>
					<td class="match l2 o2 t1"><span class="win-2" title="MakFlurryss">MakFlurryss</span></td>
					<td class="line bb br"></td>
				</tr>
				<tr>
					<td class="empty"></td>
					<td class="line br"></td>
					<td class="match l2 o2 t2"><span class="win-2" title="ArbustosDePueblo">ArbustosDePueblo</span></td>
					<td class="line"></td>

				</tr>
				<tr>
					<td class="match l1 o4 t1"><span class="win-2" title="ArbustosDeCity 2">ArbustosDeCity 2</span></td>
					<td class="line bb br"></td>
					<td class="line"></td>
					<td class="empty"></td>
					<td class="line"></td>

				</tr>
				<tr>
					<td class="match l1 o4 t2"><span class="win-2" title="ArbustosDePueblo">ArbustosDePueblo</span></td>
					<td class="line"></td>
					<td class="line"></td>
					<td class="empty"></td>
					<td class="line"></td>

				</tr>
			</tbody>
		</table>
	</div>
	<a href="#" class="bracket-zoom"><i class="fas fa-expand-arrows-alt"></i></a>
</div>